@media (min-with: 768 px) and (max-with: 1024px){
  .text-nav{
    display: none;
  }  
  #nav-bar a:link,a:visited{
    padding: 16px;
    margin-right: 1.5rem;
    padding-bottom: 30px;

  }
#nav-bar{
  margin-top: 1rem;
}
#personal-info{
  font-size: 16px;
  padding-right: 40px;
}
#target{
  font-size: :16px;
}
.cer-content{
  flex-direction: column;
  gap: 30px;
}

}
